body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main {
    flex-grow: 1;
}

.hero-section,
.info-section,
.quote-section,
.signup-section {
    padding: 2% 10%;
    min-height: 30vh;
}

.hero-section {
    background-color: #1f2937;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    /*margin-bottom: 48px;*/
    justify-content: space-between;
    justify-self: flex-start;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.intro {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-modal {
    max-width: 50%;
    flex-grow: 1;
}

.intro-modal-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 8px;
}

.intro-modal-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.intro-modal-signup-button,
.signup-modal-button {
    padding: 8px 32px;
    background-color: #3882f6;
    border-radius: 8px;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

.intro-img-placeholder {
    max-width: 50%;
    background-color: #e5e7eb;
    opacity: 0.5;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-grow: 1;
    padding: 8%;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 32px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.info-card {
    width: 250px;
    padding: 16px;
}

.info-card-image {
    border: 6px solid #3882f6;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 8px;
}

.info-card-text {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 0 10% 0;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
}

.quote-credit {
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
    padding: 8px;
}

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-modal {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 16px;
    padding: 4% 16%;
    display: flex;
    gap: 48px;
}

.signup-modal-title-line {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: larger;
}

.signup-modal-button {
    border: 2px solid #e5e7eb;
}